@model IEnumerable<CookieFactory.Models.Category>

<h1>Categories</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="#">@Html.DisplayFor(modelItem => item.Name)</a>               
            </td>
        </tr>
}
    </tbody>
</table>
