@model CookieFactory.Models.Product

@{
    ViewData["Title"] = "Create Product";
}

<h1 class="text-center text-warning pt-3">Create Product</h1>

<div class="row text-light text-center pt-3">
    <div class="col">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label h5 pt-3"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label h5 pt-3"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryRefId" class="control-label h5 pt-3">Category</label>
                <select asp-for="CategoryRefId" class="form-control" asp-items="ViewBag.CategoryRefId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label h5 pt-3"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label h5 pt-3"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label h5 pt-3"></label>
                <input asp-for="ImageFile" accept="image/*"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-warning btn-lg" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="text-info">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
