@model CookieFactory.Models.Product

@{
    ViewData["Title"] = "Categories";
}

<h1 class="text-center text-warning pt-3">Category Search</h1>

<div class="row pt-5">
    <div class="col-md">
        <img src="https://media.giphy.com/media/13NP2tXPeJzP44/giphy.gif" class="img-fluid img-thumbnail" />
    </div>
    <div class="col-md">
        <form asp-action="ShowSearchResultsCat">
            <div class="form-group p-5 text-center">
                <label name="SearchCategory" class="control-label text-center text-light h5 p-3">Select Category</label>
                <select name="SearchCategory" class="form-control">
                    <option value="Cakes">Cakes</option>
                    <option value="Beverages">Beverages</option>
                    <option value="Souvenirs">Souvenirs</option>
                    <option value="Ice Cream">Ice Cream</option>
                    <option value="Cookies">Cookies</option>
                    <option value="Weapons">Weapons</option>
                </select>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Search" class="btn btn-warning btn-lg" />
            </div>
        </form>
    </div>
</div>

<div class="mt-5">
    <a asp-action="GuestIndex" class="text-info">Back to List</a>
</div>