@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h1 class="text-center text-warning pt-3">About Us</h1>

    <div class="row pt-5">
        <div class="col-sm mt-5 mr-4">
            <img src="~/assets/lilith.jpg" class="img-fluid img-thumbnail" />
        </div>
        <div class="col-sm p-4 ml-4">
            <p class="h4 text-light text-justify">Candy canes dragée candy. Pudding candy canes bear claw lollipop. Gingerbread icing I love candy tart. Sweet roll pudding sweet roll macaroon. Wafer I love sesame snaps jelly gummies gingerbread soufflé chocolate bar cotton candy. Chocolate cake cupcake I love pie halvah. Chupa chups pastry lemon drops soufflé marzipan jujubes gummi bears. Toffee macaroon jelly marzipan jujubes sweet roll liquorice. Gummies chupa chups bonbon pudding gummies. Chocolate cake icing cupcake croissant sesame snaps sweet bear claw. Dragée jelly danish tootsie roll pastry I love croissant chupa chups cotton candy. Cheesecake marshmallow biscuit wafer I love lemon drops toffee. I love cupcake pastry apple pie I love bear claw dessert cheesecake cookie.</p>
        </div>
    </div>
</div>
