@{ 
    var cookies = ControlPanelStatic.Cookies();
    var categories = ControlPanelStatic.Categories();
    var products = ControlPanelStatic.Products();
    DateTime myDateTime = ControlPanelStatic.Now();

    ViewData["Title"] = "Control Panel";
}  

<div class="container-fluid">
    <h1 class="text-center text-warning pt-3">Control Panel</h1>

    <h2 class="text-right text-warning h5">@myDateTime</h2>

    <div class="row pt-5">
        <div class="col-md-2 text-center">
            <a class="nav-link text-info h3 mt-5" asp-area="" asp-controller="Categories" asp-action="Index"><img src="~/assets/categories.png" class="img-fluid mb-3" />CRUD @categories</a>
        </div>
        <div class="col-md-2 text-center">
            <a class="nav-link text-info h3 mt-5" asp-area="" asp-controller="Products" asp-action="Index"><img src="~/assets/Products.png" class="img-fluid mb-3" />CRUD @products</a>
        </div>
        <div class="col-md-2 text-center">
            <a class="nav-link text-info h3 mt-5" asp-area="" asp-controller="Cookies" asp-action="Index"><img src="~/assets/cookie.png" class="img-fluid mb-3" />CRUD @cookies</a>
        </div>
        <div class="col-md-2 text-center">
            <a class="nav-link text-info h3 mt-5" asp-area="" asp-controller="Emails" asp-action="Index"><img src="~/assets/email.png" class="img-fluid mb-3" />CRUD Emails</a>
        </div>
        <div class="col-md-1 text-center">
            
        </div>
        <div class="col-md-3 text-center">
            <a class="nav-link text-success h3 mt-5" asp-area="" asp-controller="home" asp-action="Contact"><img src="~/assets/service.png" class="img-fluid mb-3" />Request Help</a>
        </div>
    </div>

    <div class="row  pt-5">
        <div class="col-md-12 text-center">
            <a href="https://orteil.dashnet.org/cookieclicker/" target="_blank"><img src="https://media.giphy.com/media/1ngQorBCDcUFy/giphy.gif" class="img-fluid img-thumbnail" /></a>
        </div>
    </div>
</div>

