<h1>Control Panel</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Cookies" asp-action="Index">Cookies</a>

<a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>

<a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
