@{
    ViewData["Title"] = "Home Page";
}


<div class="container">

    

    <div class="row pt-5 ml-5 mr-4 text-center">
            <img src="~/assets/cookieIcon.png" width="100px" height="100px" class="mr-2">
            <h1 class="text-warning display-3 text-center">Cookie Factory</h1>
    </div>

    <div class="row pt-5 ml-4">
        <div class="col-sm">
            <img src="https://media.giphy.com/media/3oz8xK0liGg1yTgcZq/source.gif" class="img-fluid img-thumbnail" />
        </div>
        <div class="col-sm p-4">
            <p class="h4 text-light text-justify">Pudding dessert croissant. Muffin candy I love. Tiramisu sweet chocolate cake oat cake pudding tootsie roll candy. Jelly beans jelly beans gummi bears cupcake macaroon bear claw. Wafer wafer gummies jelly jelly lemon drops donut jelly beans. Sugar plum gingerbread powder. Cookie donut dragée toffee tart I love liquorice. Sugar plum caramels icing cupcake sugar plum sesame snaps I love tart. I love gummi bears soufflé chocolate cake tootsie roll icing jelly lollipop I love. Jelly-o dessert jelly powder cheesecake cupcake. I love soufflé pie pie jelly beans donut cotton candy. Candy I love tiramisu sweet roll chupa chups jelly macaroon.</p>
        </div>
    </div>
</div>