@{
    ViewData["Title"] = "Conditions";
}

<div class="container">
    <h1 class="text-center text-warning pt-3">Terms & Conditions</h1>
    <div class="row pt-5">
        <div class="col-sm p-4">
            <p class="h4 text-light text-justify">Tiramisu topping chocolate bonbon pudding. Gummi bears wafer gingerbread jelly I love I love. Dragée chocolate chupa chups cake jelly lollipop icing. Croissant halvah jelly. Toffee chocolate cake caramels ice cream I love marzipan. Marshmallow chupa chups icing I love candy canes bonbon jelly-o. Cake oat cake chocolate bar ice cream topping. Liquorice jelly beans tart. Chocolate cake chocolate I love I love cake halvah liquorice. I love gingerbread marshmallow cheesecake jelly beans sweet roll. Toffee sweet roll lollipop cotton candy halvah cotton candy candy canes tootsie roll. Toffee I love muffin biscuit tootsie roll chocolate I love candy canes ice cream.</p>
        </div>
        <div class="col-sm p-4">
            <p class="h4 text-light text-justify">Oat cake jelly marzipan ice cream powder jujubes. Jelly-o marshmallow I love bonbon I love. Wafer I love topping caramels chocolate jujubes jelly-o chocolate bar sesame snaps. Marshmallow cake jujubes. Chocolate topping chupa chups macaroon apple pie apple pie wafer. I love cupcake cupcake candy cotton candy. Cake ice cream jelly-o soufflé sesame snaps. Donut chupa chups croissant wafer tiramisu carrot cake gummi bears carrot cake pie. Oat cake cookie cookie ice cream apple pie dessert I love. Jelly beans I love tiramisu I love pie. Carrot cake carrot cake lollipop chocolate jelly beans bonbon I love. Pudding tiramisu chupa chups chocolate cake. Sweet I love I love pastry cheesecake.</p>
        </div>
    </div>
</div>

