@model CookieFactory.Models.Cookie

@{
    ViewData["Title"] = "Edit Cookie";
}

<h1 class="text-center text-warning pt-3">Edit Cookie</h1>

<div class="row pt-5">
    <div class="col text-center">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Text" class="control-label  text-center text-light h5 mr-3"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CookieFlavor" class="control-label text-center text-light h5 pt-3"></label>
                <input asp-for="CookieFlavor" class="form-control" />
                <span asp-validation-for="CookieFlavor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chips" class="control-label text-center text-light h5 pt-3"></label>
                <input asp-for="Chips" class="form-control" />
                <span asp-validation-for="Chips" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Filling" class="control-label text-center text-light h5 pt-3"></label>
                <input asp-for="Filling" class="form-control" />
                <span asp-validation-for="Filling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topping" class="control-label text-center text-light h5 pt-3"></label>
                <input asp-for="Topping" class="form-control" />
                <span asp-validation-for="Topping" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label text-center text-light h5 pt-3"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Save Changes" class="btn btn-warning btn-lg" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="text-info">Back to List</a>
</div>

