<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CookieFactory</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-warning" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/cookieIcon.png" width="30" height="24" /> Cookie Factory
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="GuestIndex">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="ShowSearchForm">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="ShowSearchFormCat">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container bg-dark">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container-fluid">
            <a href="https://github.com/blinea" class="text-danger" target="_blank">Copyright &copy; Satan 2021. All Rights Reserved.</a> <a href="https://twitter.com/?lang=en"><img src="~/assets/twitter.png" class="ml-5" width="30" height="30" /></a> <a href="https://www.instagram.com/" target="_blank"><img src="~/assets/instagram.png" class="ml-5" width="30" height="30" /></a> <a href="https://www.facebook.com/" target="_blank"><img src="~/assets/facebook.png" class="ml-5" width="30" height="30" /></a> <a href="https://privacyportalde-cdn.onetrust.com/dsarwebform/f69c0bf1-10ab-4d33-8b59-e235ddd37a5f/a676c567-2f4a-49df-9b33-e3e938be477a.html" target="_blank" class="float-right ml-3 text-info">Do Not Sell My Personal Information</a> <a class="float-right ml-3 text-info" asp-controller="Home" asp-action="Terms">Terms & Conditions</a> <a class="float-right ml-3 text-info" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
